* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: white;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}


.imgMain {
    /* background-color: yellow; */
    width: 100%;
    height: 100vh;
    z-index: 3;
}

#illutstration {
    position: absolute;
    /* top: 0; */
    bottom: -67px;
    right: 80px;
    height: 100vh;
    z-index: 5;

    /* border-bottom-right-radius: 300px; */
}

#hand {
    position: absolute;
    bottom: 50px;
    right: 260px;
    height: 70%;
    z-index: 6;
    -webkit-animation: rotation 0.7s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(-20deg);
    }

    to {
        -webkit-transform: rotate(10deg);
    }
}

.outShape {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background-color: #6441a5;
}

.inShape {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 300px;
}



.ayushiName {
    position: absolute;
    top: 200px;
    left: 0;
    margin-left: 50px;
    margin-top: 80px;
    font-size: 5rem;
    font-weight: bold;
    margin-top: -10px;
    color: rgb(197, 197, 197);
}

.ayushiName span {
    color: rgb(63, 37, 175);
}

#paraBack {
    position: relative;
    height: 100vh;
    width: 100%;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paraSlide {
    display: block;
    /* position: relative;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    background: red; */
}

#paraBack img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.workContainer {
    width: 100%;
    height: fit-content;
    /* background-color: #2a0845; */
    padding-top: 40px;
    padding-bottom: 100px;
    border-radius: 0 0 0 200px;
    background: rgb(100, 65, 165);
    background: linear-gradient(180deg, rgba(100, 65, 165, 1) 0%, rgba(42, 8, 69, 1) 45%);
}

.workTitle {
    text-align: center;
    color: white;
    font-size: 4rem;
}


.tileContainer {
    width: 80%;
    text-align: center;
    background-color: rgba(83, 83, 83, 0);
    height: fit-content;
    margin: 50px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.item {
    background-color: white;
    position: relative;
    border-radius: 50px 0 50px 0;
}

.item img {
    width: 100%;
    border-radius: 50px 0 50px 0;
    /* object-fit: cover; */
    /* width: 50px; */
    /* height: 400px; */
}

.item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(248, 182, 0, 0.555);
    opacity: 0;
    transition: 0.5s;
    border-radius: 50px 0 50px 0;
}

.item .overlay:hover {
    opacity: 1.0;
}

.item .overlay .itemName {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom-right-radius: 50px;
    border: 1px solid white;
}


.aboutContainer {
    background-color: white;
    width: 100%;
    height: 100vh;
}